#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "RolePlay, Jobs, qbcore, Business, Gangs, Police, EMS"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sets locale "en-US"
set mysql_connection_string "{{dbConnectionString}}"
# sv_tebexSecret PlaceCodeHere


set sv_enforceGameBuild 2802
## 2372	mptuner	Los Santos Tuners | 2545 mpsecurity The Contract | 2612	mpg9ec Expanded and Enhanced | 2699 mpsum2 Criminal Enterprises | 2802 Los Santos Drug Wars

## Branding
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
load_server_icon myLogo.png
sets banner_detail "BannerLinkHere"
sets banner_connecting "BannerLinkHere"

sets DiscordLink "https://discord.gg/{{serverName}}"
sets DiscordRequired "Yes"
sets ServerType "Semi-Serious RP"
sets MicRequired "Yes"
sets PoweredBy "{{serverName}}"
sets Store "https://{{serverName}}.tebex.io"



exec config/convars.cfg
exec config/ensures.cfg     ## This is your Start Order, your Ensure list (Where you add scripts/maps/props/clothing/vehicles)
exec config/perms.cfg       ## Where you set Admin/Script permissions